<div id="payment-form" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger"><strong>Payment Form</strong></h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <form id="brand-form" action="" method="post" enctype="multipart/form-data">
                            <div class="form-group col-xs-12 col-sm-12 row">
                                <div class="col-md-2">
                                    <label class="control-label" for="payout"><strong>Payout:</strong></label>
                                </div>
                                <div class="col-md-4">
                                    <span id="payout"></span>
                                </div>
                                 <div class="col-md-offset-2 col-md-2">
                                    <label class="control-label" for="balance"><strong>Balance:</strong></label>
                                </div>
                                <div class="col-md-2">
                                    <span id="balance"></span>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <label for="amount-paid"><strong>Amount Paid</strong></label>
                                <div>
                                    <input class="form-control" type="text" id="amount-paid" name="amount-paid"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal" id="modal-btn-cancel">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>

                <button class="btn btn-sm btn-primary" id="btn-payment-save">
                    <i class="ace-icon fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>