{% extends 'pos_base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div id="left-column"> <!-- left column begins-->
            <span id="left-column-heading">Sales Point</span>
            <input type="hidden" value="{{ request.user.id }}" id="user-id"/>
            <hr class="horizontal-line"/>
            <div id="sales-table">
                <table class="table table-condensed" id="table-sales">
                    <thead>
                    <tr>
                        <th style="display: none" class="Sales-id">ID</th>
                        <th width="40%">PRODUCT</th>
                        <th width="30%">PRICE</th>
                        <th width="5%">QUANTITY</th>
                        <th>TOTAL</th>
                    </tr>
                    </thead>
                    <tbody id="table-contents">
                    </tbody>
                </table>
            </div>
            <hr class="horizontal-line"/>
            <div id="bottom-tbl">
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th width="30%">SubTotal</th>
                        <td class="SubTotal">Tsh 0</td>
                        <td align="right" class="items">0 items</td>
                    </tr>
                    <tr>
                        <th>Discount</th>
                        <td><input type="text" placeholder="Discount" class="discount"></td>
                        <td align="right" id="discount-amount"></td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td class="grandTotal">Tsh 0</td>
                        <td align="right" class="items">0 items</td>
                    </tr>
                </table>
                <div class="row">
                    <button type="button" class="btn btn-danger" id="btn-cancel">CANCEL</button>
                    <button type="button" class="btn btn-success" id="btn-payment" data-toggle="modal"
                            href="#payment-form">PAYMENT
                    </button>
                </div>
            </div>
        </div> <!-- left column ends -->

        <div id="right-column">
            <ul id="categories-list" class="nav nav-pills" role="tablist" data-tabs="tabs"></ul>
            <div class="tab-content" id="brand-content"></div>

            <input type="hidden" class="hidden-category-id"/>
            <hr class="horizontal-line"/>

            <div class="input-group">
                <input type="text" class="form-control" id="search-criteria" placeholder="Search"
                       aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i> </span>
            </div>

            <div id="img-list"></div>
        </div>
    </div>
    {% include 'pos/payment_form.html' %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'js/pos_front.js' %}"></script>
{% endblock %}