<div id="modal-stock-form" class="modal" tabindex="-1">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">New Stock Form</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <form id="product-form" action="" method="post" enctype="multipart/form-data">
                            <fieldset id="stock_info">
                                <div class="form-group form-group-sm col-xs-12">
                                    <div class='col-xs-8'>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <table class="table table-bordered table-responsive table-hover table-striped table-condensed" id="items_stock">
                                        <thead style="background-color: #34495E; color: #f6f6f6">
                                            <tr>
                                                <th style="width: 350px">PRODUCT</th>
                                                <th>COST PRICE</th>
                                                <th>QTY</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="stock_items">
                                            <button type="button" class="btn btn-default btn-sm addRow">New Row <i class="fa fa-plus"></i></button>
                                           <hr>
                                            <tr class="form-group">
                                                <td>
                                                    <select class="form-control select-product" name="product">
                                                        <option selected="true" disabled="true"></option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input name="unit_price" class="unit_price form-control" type="text">
                                                </td>
                                                <td>
                                                    <input name="quantity" class="quantity form-control" type="text">
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-info btn-sm deleteRow" disabled><i class="fa fa-minus"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-group form-group-sm col-xs-12">
                                        <div class='col-xs-8'></div>
                                    </div>
                                    <div class="form-group form-group-sm col-xs-12">
                                        <div class='col-xs-8'></div>
                                    </div>
                                    <div class="form-group form-group-sm col-xs-12">
                                        <div class='col-xs-8'></div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>
                <button class="btn btn-sm btn-primary" id="btn-stock-save">
                    <i class="ace-icon fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

