{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Home</a>
    </li>
    <li class="active">Stock</li>
{% endblock %}
{% block page-header %}
    Stock
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        List
    </small>
    <div class="pull-right">
        <div class="hidden-sm hidden-xs btn-group">
            <button class="btn btn-md btn-default" id="btn-view-stock bootbox-regular" href="#modal-stock-form"
                    data-toggle="modal">
                <i class="ace-icon fa fa-plus bigger-120"></i>
                New Stock
            </button>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <table id="simple-table" class="table  table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace"/>
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th class="hidden">ID</th>
                    <th>Product</th>
                    <th>Total Quantity</th>
                    <th>Total Buying Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="stock-list-table">
                </tbody>
            </table>
        </div>
    </div>
    {% include 'stock/new_stock_form.html' %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/bootbox.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            $.getJSON("api/v1/list", function (data) {
                data = data.results;
                $.each(data, function (key, stock) {
                    $("#stock-list-table").append('' +
                        ' <tr>\n' +
                        '                        <td class="center">\n' +
                        '                            <label class="pos-rel">\n' +
                        '                                <input type="checkbox" class="ace" />\n' +
                        '                                <span class="lbl"></span>\n' +
                        '                            </label>\n' +
                        '                        </td>\n' +
                        '                        <td class="hidden">' + stock.product + '</td>\n' +
                        '                        <td>' + stock.product__brand__name +' '+stock.product__name + '</td>\n' +
                        '                        <td>' + stock.quantity__sum+ '</td>\n' +
                        '                        <td>' + stock.buying_price__sum  + '</td>\n' +
                        '                        </td>\n' +
                        '                    </tr>'
                    );
                });
            });

            function get_product_list() {
                $.getJSON("/account/admin/products/api/v1/product/list/", function (data) {
                    data = data.results;
                    $.each(data, function (i, product) {
                        $(".select-product").append('<option value="' + product.id + '">' + product.brand.name + ' ' + product.name + '</option>');
                    });
                });
            }

            get_product_list();

            $(".addRow").on("click", function () {
                get_product_list();
                $("#stock_items").append('' +
                    '<tr class="form-group">\n' +
                    '                                                <td>\n' +
                    '                                                    <select class="form-control select-product" name="prorduct">\n' +
                    '                                                        <option selected="true" disabled="true"></option>\n' +
                    '                                                    </select>\n' +
                    '                                                </td>\n' +
                    '                                                <td>\n' +
                    '                                                    <input name="unit_price" class="unit_price form-control" type="text">\n' +
                    '                                                </td>\n' +
                    '                                                <td>\n' +
                    '                                                    <input name="quantity" class="quantity form-control" type="text">\n' +
                    '                                                </td>\n' +
                    '                                                <td>\n' +
                    '                                                    <button type="button" class="btn btn-info btn-sm deleteRow"><i class="fa fa-minus"></i></button>\n' +
                    '                                                </td>\n' +
                    '                                            </tr>');

                $(".deleteRow").on("click", function () {
                    $(this).parents('.form-group').remove();
                    console.log("Clicked")
                });
            });

            $("#btn-stock-save").on("click", function () {
                var TableData = new Array();
                $("#stock_items tr").each(function (i, tr) {
                    TableData[i] = {
                        'product': $(tr).find("td:eq(0)").find("select").val(),
                        'buying_price': $(tr).find("td:eq(1)").find("input").val(),
                        'quantity': $(tr).find("td:eq(2)").find("input").val(),
                    }
                });
                var len = TableData.length;

                $.each(TableData, function (i, stock) {
                    $.ajax({
                        url: 'api/v1/create', //EndPoint Yako /URL yako ya POST,
                        type: 'POST', // Request Method yako GET au POST,
                        data: stock,//Your data here,
                        dataType: 'json',
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                        },
                        success: function (response) {
                            if (i == (len - 1)) {
                                alert("Stock successfully saved");
                            }
                        },
                        error: function (xhr, errorThrown, result) {

                        }
                    });

                });
            });
        })
    </script>
{% endblock %}