{% load static %}
<div id="modal-sales-view" class="modal" tabindex="-1">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="blue bigger" id="modal-heading"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="text-center">
                            <div class="width-100 label label-info label-xlg arrowed-in-right">
                                <div class="inline position-relative">
                                    <span class="white" id="#">Transation Informations</span>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="table-detail">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="space visible-xs"></div>
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Transaction</div>
                                            <div class="profile-info-value transaction"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Amount</div>
                                            <div class="profile-info-value amount"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Discount</div>
                                            <div class="profile-info-value discount"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Date created</div>
                                            <div class="profile-info-value date_created"></div>
                                        </div>
                                         <div class="profile-info-row">
                                            <div class="profile-info-name">Added By</div>
                                            <div class="profile-info-value added_by"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-xs-12">
                        <table  class="table  table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center"></th>
                                    <th class="hidden">ID</th>
                                    <th>Product Name</th>
                                    <th>Quantiy</th>
                                    <th>Transaction ID</th>
                                    <th>Date Created</th>
                                </tr>
                            </thead>

                            <tfoot>

                            </tfoot>
                        </table>
                   </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>