{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Home</a>
    </li>
    <li class="active">Sales</li>
{% endblock %}
{% block page-header %}
    Sales
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        List
    </small>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <table id="simple-table" class="table  table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace"/>
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th class="hidden">ID</th>
                    <th>Transaction</th>
                    <th>Amount</th>
                    <th>Discount</th>
                    <th>Date Created</th>
                    <th>Added By</th>
                </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    {% include 'sales/sales_view.html' %}

{% endblock %}
{% block script %}
    <script src="{% static 'js/bootbox.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#profile_photo').on('change', function () {
                var preview = document.querySelector('img');
                var file = document.querySelector('input[type=file]').files[0];
                var reader = new FileReader();

                reader.onloadend = function () {
                    preview.src = reader.result;
                };

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "";
                }
            });

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                        }
                    }
                }
                return cookieValue;
            }

            $.getJSON("api/v1/transaction/list", function (data) {
                data = data.results;
                console.log(data);
                $.each(data, function (key, item) {
                    $("tbody").append('' +
                        ' <tr>\n' +
                        '                        <td class="center">\n' +
                        '                            <label class="pos-rel">\n' +
                        '                                <input type="checkbox" class="ace" />\n' +
                        '                                <span class="lbl"></span>\n' +
                        '                            </label>\n' +
                        '                        </td>\n' +
                        '                        <td class="hidden">' + item.id + '</td>\n' +
                        '                        <td>' + item.transaction + '</td>\n' +
                        '                        <td>' + item.amount + '</td>\n' +
                        '                        <td>' + item.discount + '</td>\n' +
                        '                        <td>' + item.date_created.split('T')[0]  + '</td>\n' +
                        '                        <td>' + item.added_by + '</td>\n' +
                        '                        <td>\n' +
                        '                            <div class="btn-group">\n' +
                        '                                <button class="btn btn-xs btn-success btn-view" id="bootbox-regular" href="#modal-sales-view" data-toggle="modal">\n' +
                        '                                    <i class="ace-icon fa fa-eye bigger-120"></i>\n' +
                        '                                </button>\n' +
                        '                            </div>\n' +
                        '                        </td>\n' +
                        '                    </tr>'
                    );
                });
            });

        $("#simple-table").on('click', '.btn-view', function () {
               var d = $(this).closest("tr").find("td:eq(1)").text();
                $.getJSON("api/v1/item/retrieve/" + d, function (data) {
                      data = data.results;
                $.each(data, function (sal, sales) {
                    $("tfoot").append('' +
                        ' <tr>\n' +
                        '                        <td class="center">\n'+'</td>\n' +
                        '                        <td>' + sales.product_id + '</td>\n' +
                        '                        <td>' + sales.quantity + '</td>\n' +
                        '                        <td>' + sales.transaction_id + '</td>\n' +
                        '                        <td>' + sales.date_created.split('T')[0]  + '</td>\n' +
                        '                        <td>\n' +
                        '                    </tr>'
                    );
                });
                });
            });


            $("#simple-table").on('click', '.btn-view', function () {
               var d = $(this).closest("tr").find("td:eq(1)").text();
                $.getJSON("api/v1/transaction/retrieve/" + d, function (data) {
                    $(".discount").text(data.discount);
                    $(".added_by").text(data.added_by);
                    $(".transaction").text(data.transaction);
                    $(".quantity").text(data.quantity);
                    $(".date_created").text(data.date_created.split('T')[0]);
                    $(".amount").html(data.amount);
                });
            });

        })
    </script>
{% endblock %}