<div id="modal-employee-form" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">New Employee Form</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <form id="employee-form" action="" method="post" enctype="multipart/form-data">
                            <div class="form-group col-xs-12 col-sm-6">
                                <label class="control-label" for="first_name">First Name</label>
                                <div>
                                    <input type="text" placeholder="First Name" class="form-control" id="first_name" name="first_name"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label class="control-label" for="last_name">Last Name</label>
                                <div>
                                    <input type="text" placeholder="Last Name" class="form-control" id="last_name" name="last_name"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label class="control-label" for="birth_date">Date of Birth</label>
                                 <div class="input-group">
                                    <input class="form-control date-picker" id="birth_date" type="text" data-date-format="yyyy-mm-dd" name="birth_date"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <label class="control-label" for="gender">Gender</label>

                                <div class="radio">
                                    <label>
                                        <input name="gender" type="radio" class="ace male" id="gender" value="Male"/>
                                        <span class="lbl"> Male</span>
                                    </label>
                                    <label>
                                        <input name="gender" type="radio" class="ace female" id="gender" value="Female"/>
                                        <span class="lbl"> Female</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <label class="control-label" for="marital_status">Marital Status</label>
                                <div>
                                    <select class="chosen-select form-control" id="form-field-select-3" name="marital_status">
                                        <option disabled>Choose a Status...</option>
                                        <option value="Single">Single</option>
                                        <option value="Married">Married</option>
                                        <option value="Divorced">Divorced</option>
                                        <option value="Widowed">Widowed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <label class="control-label" for="position">Position</label>
                                <div>
                                    <select class="chosen-select form-control" id="position" name="position">
                                        <option disabled>Choose a Positon...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <label for="phone_number">
                                    Phone Number
                                    <small class="text-warning">(+255) 999-9999</small>
                                </label>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="ace-icon fa fa-phone"></i>
                                    </span>

                                    <input class="form-control input-mask-phone" type="text" id="phone_number" name="phone_number"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <label for="photo">Photo</label>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input type="file" id="photo"/>
                                        <input type="hidden" id="profile_photo" name="photo"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>

                <button class="btn btn-sm btn-primary" id="bt-employee-save">
                    <i class="ace-icon fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>