{% load static %}
<div id="modal-employee-view" class="modal" tabindex="-1">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger" id="modal-heading"></h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="table-detail">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="text-center">
                                        <img height="295" width="246" id="profile-photo" class="thumbnail inline no-margin-bottom profile-photo"
                                             alt="Profile Photo" src=""/>

                                        <div class="width-100 label label-info label-xlg arrowed-in arrowed-in-right">
                                            <div class="inline position-relative">
                                                <a class="user-title-label" href="#">
                                                    <span class="white" id="employee_name"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-8">
                                    <div class="space visible-xs"></div>
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> First Name</div>
                                            <div class="profile-info-value first_name"> </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Last Name</div>
                                            <div class="profile-info-value last_name"> </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Gender</div>
                                            <div class="profile-info-value gender"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Date of birth</div>
                                            <div class="profile-info-value birth_date"> </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Marital Status</div>
                                            <div class="profile-info-value marital_status"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Date Joined</div>
                                            <div class="profile-info-value date_joined"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Position</div>
                                            <div class="profile-info-value position"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Salary</div>
                                            <div class="profile-info-value salary"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Contact Number</div>
                                            <div class="profile-info-value phone_number"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Account Status</div>
                                            <div class="profile-info-value status"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>