{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Home</a>
    </li>
    <li class="active">Employees</li>
{% endblock %}
{% block page-header %}
    Employees
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        List
    </small>
    <div class="pull-right">
        <div class="hidden-sm hidden-xs btn-group">
            <button class="btn btn-md btn-default" id="btn-view-employee bootbox-regular" href="#modal-employee-form" data-toggle="modal">
                <i class="ace-icon fa fa-plus bigger-120"></i>
                New Employee
            </button>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <table id="simple-table" class="table  table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace"/>
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th class="hidden">ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th class="hidden-480">Position</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    {% include 'employee/new_employee_form.html' %}
    {% include 'employee/employee_view.html' %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/bootbox.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#profile_photo').on('change', function () {
                var preview = document.querySelector('img');
                var file = document.querySelector('input[type=file]').files[0];
                var reader = new FileReader();

                reader.onloadend = function () {
                    preview.src = reader.result;
                };

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "";
                }
            });

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                        }
                    }
                }
                return cookieValue;
            }
            //datepicker plugin
            //link
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            })
            //show datepicker when clicking on the icon
            .next().on(ace.click_event, function(){
                $(this).prev().focus();
            });

            //or change it into a date range picker
            $('.input-daterange').datepicker({autoclose:true});


            //to translate the daterange picker, please copy the "examples/daterange-fr.js" contents here before initialization
            $('input[name=date-range-picker]').daterangepicker({
                'applyClass' : 'btn-sm btn-success',
                'cancelClass' : 'btn-sm btn-default',
                locale: {
                    applyLabel: 'Apply',
                    cancelLabel: 'Cancel',
                }
            })
            .prev().on(ace.click_event, function(){
                $(this).next().focus();
            });


            $('#timepicker1').timepicker({
                minuteStep: 1,
                showSeconds: true,
                showMeridian: false,
                disableFocus: true,
                icons: {
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down'
                }
            }).on('focus', function() {
                $('#timepicker1').timepicker('showWidget');
            }).next().on(ace.click_event, function(){
                $(this).prev().focus();
            });


            function addCommas(nStr) {
                nStr += '';
                x = nStr.split('.');
                x1 = x[0];
                x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                        x1 = x1.replace(rgx, '$1' + ',' + '$2');
                }
                return x1 + x2;
            }

            $.getJSON("api/v1/position/list/", function (data) {
                data = data.results;
                $.each(data, function (key, position) {
                    $("#position").append('<option value='+ position.id +'>'+ position.name +'</option>')
                });
            });

            $.getJSON("api/v1/profile/list/", function (data) {
                data = data.results;
                $.each(data, function (key, employee) {
                    $("tbody").append('' +
                        ' <tr>\n' +
                        '                        <td class="center">\n' +
                        '                            <label class="pos-rel">\n' +
                        '                                <input type="checkbox" class="ace" />\n' +
                        '                                <span class="lbl"></span>\n' +
                        '                            </label>\n' +
                        '                        </td>\n' +
                        '                        <td class="hidden">' + employee.id + '</td>\n' +
                        '                        <td>' + employee.first_name + '</td>\n' +
                        '                        <td>' + employee.last_name + '</td>\n' +
                        '                        <td>' + employee.phone_number + '</td>\n' +
                        '                        <td>' + employee.position + '</td>\n' +
                        '\n' +
                        '                        <td>\n' +
                        '                            <div class="btn-group">\n' +
                        '                                <button class="btn btn-xs btn-success btn-view" id="bootbox-regular" href="#modal-employee-view" data-toggle="modal">\n' +
                        '                                    <i class="ace-icon fa fa-eye bigger-120"></i>\n' +
                        '                                </button>\n' +
                        '\n' +
                        '                                <button class="btn btn-xs btn-info btn-edit">\n' +
                        '                                    <i class="ace-icon fa fa-pencil bigger-120"></i>\n' +
                        '                                </button>\n' +
                        '                            </div>\n' +
                        '                        </td>\n' +
                        '                    </tr>'
                    );
                });
            });

            $("#bt-employee-save").on('click', function (e) {
                e.preventDefault();
                var d = $("#photo2").attr("src");
                $("form #hidden_photo").val(d);
                var form_data = $("#employee-form").serializeJSON();
                $.ajax({
                    url: 'api/v1/profile/create/', //EndPoint Yako /URL yako ya POST,
                    type: 'POST', // Request Method yako GET au POST,
                    data: form_data,//Your data here,
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    },
                    success: function (response) {
                        alert('Employee save successfully');
                    },
                    error: function (xhr, errorThrown, result) {

                    }
                });
            });

            $("#simple-table").on('click', '.btn-view', function () {
               var d = $(this).closest("tr").find("td:eq(1)").text();
                $.getJSON("api/v1/profile/retrieve/" + d, function (data) {
                    $("#employee_name").text(data.first_name + " " + data.last_name);
                    $("#modal-heading").text(data.first_name + " " + data.last_name );
                    $(".profile-photo").attr("src", data.photo);
                    $(".first_name").text(data.first_name)
                    $(".last_name").text(data.last_name);
                    $(".gender").text(data.gender);
                    $(".birth_date").text(data.birth_date);
                    $(".marital_status").text(data.marital_status);
                    $(".date_joined").text(data.date_joined.split('T')[0]);
                    $(".position").text(data.position.name);
                    $(".salary").text("TZS " + addCommas(data.position.salary_scale.toFixed(2)));
                    $(".phone_number").text(data.phone_number);
                    $(".status").html(data.is_active ? "<span class=\"label label-sm label-success\">Active</span>": "<span class=\"label label-sm label-danger\">Inactive</span>");
                });
            });
            $("#simple-table").on('click', '.btn-edit', function () {
               var d = $(this).closest("tr").find("td:eq(1)").text();
                $.getJSON("api/v1/profile/retrieve/" + d, function (data) {
                    $("#employee_name").text(data.first_name + " " + data.last_name);
                    $("#modal-heading").text(data.first_name + " " + data.last_name + " [" + data.id + "]");
                    $(".profile-photo").attr("src", data.photo);
                    $(".first_name").text(data.first_name)
                    $(".last_name").text(data.last_name);
                    $(".gender").text(data.gender);
                    $(".birth_date").text(data.birth_date);
                    $(".marital_status").text(data.marital_status);
                    $(".position").text(data.position.name);
                    $(".salary").text("TZS " + addCommas(data.position.salary_scale.toFixed(2)));
                    $(".phone_number").text(data.phone_number);
                    $(".status").text(data.status);
                });
            });
        });

    </script>
{% endblock %}