{% extends 'base.html' %}
{% block breadcrumb %}
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Home</a>
    </li>
    <li class="active">Dashboard</li>
{% endblock %}
{% block page-header %}
    Dashboard
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Overview &amp; Stats
    </small>
{% endblock %}
{% block content %}
    <style type="text/css">
        .infobox-small {
            width: 200px;
        }
    </style>
    <div class="row">
        <div class="space-6"></div>

        <div class="col-sm-12 infobox-container">

            <div class="infobox infobox-blue">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-twitter"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">{{ sales_count }}</span>
                    <div class="infobox-content">Total Transactions</div>
                </div>
            </div>

            <div class="infobox infobox-pink">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-shopping-cart"></i>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">{{ product_count.total }}</span>
                    <div class="infobox-content">Products Sold</div>
                </div>
            </div>

            <div class="space-6"></div>

            <div class="infobox infobox-green infobox-small infobox-dark">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-money"></i>
                </div>

                <div class="infobox-data">
                    <div class="infobox-content">Earnings</div>
                    <div class="infobox-content">{{ earnings.amount }}</div>
                </div>
            </div>

            <div class="infobox infobox-blue infobox-small infobox-dark">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-shopping-basket"></i>
                </div>

                <div class="infobox-data">
                    <div class="infobox-content">Profit</div>
                    <div class="infobox-content">$32,000</div>
                </div>
            </div>

            <div class="infobox infobox-grey infobox-small infobox-dark">
                <div class="infobox-icon">
                    <i class="ace-icon fa fa-hand-lizard-o"></i>
                </div>

                <div class="infobox-data">
                    <div class="infobox-content">Discounts</div>
                    <div class="infobox-content">{{ discount.amount }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="hr hr32 hr-dotted"></div>

    <div class="row">
        <div class="col-sm-12">
            <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter">
                        <i class="ace-icon fa fa-star orange"></i>
                        Top 5 Sold Products
                    </h4>

                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <table class="table table-bordered table-striped">
                            <thead class="thin-border-bottom">
                            <tr>
                                <th>
                                    <i class="ace-icon fa fa-caret-right blue"></i>Product
                                </th>

                                <th>
                                    <i class="ace-icon fa fa-caret-right blue"></i>Quantity
                                </th>

                                <th>
                                    <i class="ace-icon fa fa-caret-right blue"></i>Revenue
                                </th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for product in top_5_sold %}
                                <tr>
                                    <td>{{ product.product_id__brand__name }} {{ product.product_id__name }}</td>
                                    <td><b class="green">{{ product.total }}</b></td>
                                    <td><b class="green">Tsh. {{ product.transaction_id__amount }}</b></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div><!-- /.widget-box -->
        </div><!-- /.col -->
    </div>
{% endblock %}

