{% extends 'base.html' %}
{% load static %}
{% block body %}
   <body class="login-layout light-login">
		{% block content %}
            <div class="main-container">
			    <div class="main-content">
				    <div class="row">
					<div class="col-sm-10 col-sm-offset-1">
                        <div class="space-12"></div>
						<div class="login-container">
							<div class="center">
								<h1>
									<span class="blue" style="font-weight: bolder; font-size: 40px">KASANDA ELECTRONICS</span><br />
                                </h1>
                                <h3><span>SALES & INVENTORY MANAGEMENT SYSTEM</span></h3>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
                                            <div class="center">
                                                <h1><i class="ace-icon fa fa-user-secret"></i></h1>
                                                <h4 class="header blue lighter bigger">
                                                   <strong> Please Login </strong>
                                                </h4>
                                            </div>

											<div class="space-6"></div>

											<form id="login-form" action="{% url 'login' %}" method="post">
                                                {% csrf_token %}
                                                {% for error in form.non_field_errors %}
                                                    <span class="label label-md label-danger message">
                                                        <i class="ace-icon fa fa-close"></i>
                                                        {{ error }}
                                                    </span>
                                                {% endfor %}
                                                {% for f in form.hidden_fields %}{{ f }}{% endfor %}
												<fieldset>
													<label class="block clearfix">
                                                        <div class="space-6"></div>
														<span class="block input-icon input-icon-right">
                                                            {{ form.username }}
															<i class="ace-icon fa fa-user"></i>
														</span>
													</label>

													<label class="block clearfix">
														<span class="block input-icon input-icon-right">
															{{ form.password }}
															<i class="ace-icon fa fa-lock"></i>
														</span>
													</label>

													<div class="space"></div>

													<div class="clearfix center">
                                                        <button type="submit" id="btn-login" class="width-45 btn btn-sm btn-primary">
															<i class="ace-icon fa fa-key"></i>
															<span class="bigger-110">Login</span>
														</button>
													</div>

													<div class="space-4"></div>
												</fieldset>
											</form>
										</div><!-- /.widget-main -->
										<div class="toolbar clearfix">
											<div></div>
                                        </div>
									</div><!-- /.widget-body -->
								</div><!-- /.login-box -->
							</div><!-- /.position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			    </div><!-- /.main-content -->
		    </div><!-- /.main-container -->
        {% endblock %}
		<!-- inline scripts related to this page -->
		{% block script %}
            <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
            <script src="{% static 'js/jquery.serializejson.min.js' %}"></script>
		{% endblock %}
{% endblock %}