{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>KASANDA | {{ title }}</title>

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'font-awesome/4.5.0/css/font-awesome.min.css' %}" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="{% static 'css/fonts.googleapis.com.css' %}" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{% static 'css/ace.min.css' %}" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="{% static 'css/ace-part2.min.css' %}" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="{% static 'css/ace-skins.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/ace-rtl.min.css' %}" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="{% static 'css/ace-ie.min.css' %}" />
		<![endif]-->

        <!-- pos styles-->
        <link rel="stylesheet" href="{% static 'css/pos.css' %}" />

        <!-- Sweet Alert Styles-->
        <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}" />
        <!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="{% static 'js/ace-extra.min.js' %}"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="{% static 'js/html5shiv.min.js' %}"></script>
		<script src="{% static 'js/respond.min.js' %}"></script>
		<![endif]-->
	</head>

	{% block body %}

        <body class="no-skin">
            <div id="navbar" class="navbar navbar-default ace-save-state navbar-fixed-top">
                <div class="navbar-container ace-save-state" id="navbar-container">
                    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                        <span class="sr-only">Toggle sidebar</span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>
                    </button>

                    <div class="navbar-header pull-left">
                        <a href="{% url 'dashboard'%}" class="navbar-brand">
                            <small>
                                <i class="fa fa-leaf"></i>
                                KASANDA - <span style="font-weight:bolder">PHONES</span>
                            </small>
                        </a>
                    </div>

                    <div class="navbar-buttons navbar-header pull-right" role="navigation">
                        <ul class="nav ace-nav">

                            <li class="light-blue dropdown-modal">
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <span class="user-info">
                                        <small>Welcome,</small>
                                        {{ request.user.first_name }}
                                    </span>

                                    <i class="ace-icon fa fa-caret-down"></i>
                                </a>

                                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                    <li>
                                        <a href="#">
                                            <i class="ace-icon fa fa-cog"></i>
                                            Settings
                                        </a>
                                    </li>

                                    <li>
                                        <a href="profile.html">
                                            <i class="ace-icon fa fa-user"></i>
                                            Profile
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="{% url 'logout' %}" id="logout">
                                            <i class="ace-icon fa fa-power-off"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.navbar-container -->
            </div>

            <div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
                                {% block content %}{% endblock %}
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
		</div><!-- /.main-container -->

	{% endblock %}

            <!-- basic scripts -->

            <!--[if !IE]> -->
            <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

            <!-- <![endif]-->

            <script type="text/javascript">
                if('ontouchstart' in document.documentElement) document.write("<script src='{% static 'js/jquery.mobile.custom.min.js' %}'>"+"<"+"/script>");
            </script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/jquery-ui.custom.min.js' %}"></script>
            <script src="{% static 'js/jquery.ui.touch-punch.min.js' %}"></script>
            <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
            <script src="{% static 'js/spinbox.min.js' %}"></script>
            <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
            <script src="{% static 'js/bootstrap-timepicker.min.js' %}"></script>
            <script src="{% static 'js/moment.min.js' %}"></script>
            <script src="{% static 'js/daterangepicker.min.js' %}"></script>
            <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
            <script src="{% static 'js/bootstrap-colorpicker.min.js' %}"></script>
            <script src="{% static 'js/jquery.knob.min.js' %}"></script>
            <script src="{% static 'js/autosize.min.js' %}"></script>
            <script src="{% static 'js/jquery.inputlimiter.min.js' %}"></script>
            <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
            <script src="{% static 'js/bootstrap-tag.min.js' %}"></script>

            <!-- page specific plugin scripts -->

            <!-- ace scripts -->
            <script src="{% static 'js/ace-elements.min.js' %}"></script>
            <script src="{% static 'js/ace.min.js' %}"></script>
            <script src="{% static 'js/jquery.serializejson.min.js' %}"></script>

            {% block script %}{% endblock %}
            <!-- inline scripts related to this page -->
        </body>
</html>
