#navbar-links {
    width: 60%;
}

.navbar-text span:first-child {
    margin-left: 8%;
}

.navbar-text span {
    margin-left: 2%;
}

#bottom-tbl td {
    background-color: white;
}

#btn-cancel, #btn-payment {
    width: 49%;
    font-weight: bolder;
}

#left-column {
    background-color: whitesmoke;
    width: 31.5%;
    float: left;
    padding: 25px;
    height: 89vh;
    overflow: auto;
    margin-bottom: 0;
}

#right-column {
    background-color: whitesmoke;
    width: 68%;
    float: right;
    padding: 25px;
    height: 89vh;
    overflow: auto;
    margin-bottom: 0;
}

#left-column-heading {
    font-size: 25px;
    font-weight: bolder;
}

#two-buttons {
    margin-left: 57%;
    color: black;
}

.black-btn {
    border-bottom: 2px solid red;
    background-color: #1D2024 !important;
    border-left: 2px solid #1D2024;
    border-right: 2px solid #1D2024;
    border-top: 2px solid #1D2024;
}

.gray-btn {
    border-bottom: 2px solid red;
}

.horizontal-line {
    height: 5px;
    background-color: lightgray;
    border-radius: 12px;
    margin-top: 1vh;
}

.custom-icon {
    color: black;
}

.grn-border {
    border-bottom: 5px solid #32CD32;
    background-color: rgba(171, 186, 195, 0.58) !important;
    border-left: 2px solid rgba(171, 186, 195, 0.58);
    border-right: 2px solid rgba(171, 186, 195, 0.58);
    border-top: 2px solid rgba(171, 186, 195, 0.58);
    color: black !important;
}

.image-size {
    height: 90px !important;
}

.product-image {
    margin-bottom: 2px;
}

.tab-content {
    border: none;
    padding-left: 0;
}

#categories-list {
    margin-left: 0;
}

@media screen and (max-width: 900px) {
    #two-buttons {
        margin-left: 20%;
        color: black;
    }
}

.text-field {
    width: 100px;
    height: 3vh;
}

.quantity {
    width: 50px;
    height: 3vh;
}

#sales-table {
    height: 44vh;
    overflow: auto;
}

.main-content-inner {
    background-color: orange;
    padding: 0;
}

.discount {
    width: 130px;
    height: 3vh;
}

/*#table-sales tbody {
    display:block;
    height:35vh;
    overflow:auto;
}
#table-sales thead, tbody tr {
    display:table;
    width:70%;
    table-layout:fixed;
}
#table-sales thead {
    width: 100%;
}*/
.notify-alert {
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    border: 0 !important;
    max-width: 400px;
    color: #FFF;
}

.notify-alert.alert-success {
    background-color: #28a745;
}

.notify-alert.alert-info {
    background-color: #17a2b8;
}

.notify-alert.alert-warning {
    background-color: #ffce3a;
}

.notify-alert.alert-danger {
    background-color: #e04b59;
}

.notify-alert button[data-notify="dismiss"] {
    margin-left: 5px;
    outline: none !important;
}

.alert-success {
    background-color: #28a745 !important;
}

#table-contents {
    background-color: white;
}

#brand-form span, label {
    font-size: 18px;
}

.catBtn {
    margin-bottom: 3px;
}
