{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Home</a>
    </li>
    <li class="active">Category</li>
{% endblock %}
{% block page-header %}
    Category
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        List
    </small>
    <div class="pull-right">
        <div class="hidden-sm hidden-xs btn-group">
            <button class="btn btn-md btn-default" id="btn-view-category bootbox-regular" href="#modal-category-form" data-toggle="modal">
                <i class="ace-icon fa fa-plus bigger-120"></i>
                New Category
            </button>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <table id="simple-table" class="table  table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace"/>
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th class="hidden">ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Date Created</th>
                    <th>Date Updated</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    {% include 'products/new_category_form.html' %}
    {% include 'products/category_view.html' %}
    {% include 'products/edit_category_form.html' %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/bootbox.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON("api/v1/category/list/", function (data) {
                data = data.results;
                console.log(data);
                $.each(data, function (key, category) {
                    $("tbody").append('' +
                        ' <tr>\n' +
                        '                        <td class="center">\n' +
                        '                            <label class="pos-rel">\n' +
                        '                                <input type="checkbox" class="ace" />\n' +
                        '                                <span class="lbl"></span>\n' +
                        '                            </label>\n' +
                        '                        </td>\n' +
                        '                        <td class="hidden">' + category.id + '</td>\n' +
                        '                        <td>' + category.name + '</td>\n' +
                        '                        <td>' + category.status + '</td>\n' +
                        '                        <td>' + category.date_created.split('T')[0] + '</td>\n' +
                        '                        <td>' + category.date_updated.split('T')[0] + '</td>\n' +
                        '                        <td>\n' +
                        '                            <div class="btn-group">\n' +
                        '                                <button class="btn btn-xs btn-success btn-view" id="bootbox-regular" href="#modal-category-view" data-toggle="modal">\n' +
                        '                                    <i class="ace-icon fa fa-eye bigger-120"></i>\n' +
                        '                                </button>\n' +
                        '                                <button class="btn btn-xs btn-info btn-edit" id="bootbox-regular" href="#modal-category-edit" data-toggle="modal">\n' +
                        '                                    <i class="ace-icon fa fa-pencil bigger-120"></i>\n' +
                        '                                </button>\n' +
                        '                            </div>\n' +
                        '                        </td>\n' +
                        '                    </tr>'
                    );
                });
            });

            $("#simple-table").on('click', '.btn-view', function () {
               var d = $(this).closest("tr").find("td:eq(1)").text();
                $.getJSON("api/v1/category/retrieve/" + d, function (data) {
                    $("#category_name").text(data.name);
                    $("#modal-heading").text(data.name);
                    $(".name").text(data.name);
                    $(".date_created").text(data.date_created.split('T')[0]);
                    $(".date_updated").text(data.date_updated.split('T')[0]);
                    $(".status").html(data.status);
                });
            });

            $.getJSON("api/v1/category/list/", function (data) {
                data = data.results;
                $.each(data, function (key, category_edit) {
                    $("#category_edit").append('<option value='+ category_edit.id +'>'+ category_edit.name +'</option>')
                });
            });

              $.getJSON("api/v1/category/list/", function (data) {
                data = data.results;
                $.each(data, function (key, category) {
                    $(".category_update").append('<option value='+ category.status +'>'+ category.status +'</option>')
                });
            });


            $("#simple-table").on('click', '.btn-edit', function () {
               var d = $(this).closest("tr").find("td:eq(1)").text();
                $.getJSON("api/v1/category/retrieve/" + d, function (data) {
                    $("#category_name").text(data.name);
                    $("#modal-heading").text(data.name + " [" + data.id + "]");
                    $(".name").text(data.name);
                    $(".date_created").text(data.date_created.split('T')[0]);
                    $(".date_updated").text(data.date_updated.split('T')[0]);
                    $(".status").html(data.status);
                });
            });


            $.getJSON("api/v1/category/list/", function (data) {
                data = data.results;
                $.each(data, function (key, category) {
                    $("#category").append('<option value='+ category.id +'>'+ category.name +'</option>')
                });
            });



             function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                        }
                    }
                }
                return cookieValue;
            }

            $("#bt-category-save").on('click', function (e) {
                e.preventDefault();
                {#var d = $(".middle").attr("style").replace('background-image: url("', '').replace('"); width: 50px; height: 50px;','');#}
                {#$("form #profile_photo").val(d);#}
                var form_data = $("#category-form").serializeJSON();
                console.log(form_data);
                $.ajax({
                    url: 'api/v1/category/create/', //EndPoint Yako /URL yako ya POST,
                    type: 'POST', // Request Method yako GET au POST,
                    data: form_data,//Your data here,
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    },
                    success: function (response) {
                        alert('Category save successfully');
                    },
                    error: function (xhr, errorThrown, result) {

                    }
                });
            });

        })
    </script>
{% endblock %}