{% load static %}
<div id="modal-category-view" class="modal" tabindex="-1">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger" id="modal-heading"></h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="table-detail">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="space visible-xs"></div>
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Name</div>
                                            <div class="profile-info-value name"> </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Date Created</div>
                                            <div class="profile-info-value date_created"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Date Updated</div>
                                            <div class="profile-info-value date_updated"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Status</div>
                                            <div class="profile-info-value status"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>