<div id="modal-category-edit" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">Edit Category Form</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                        <form id="category-form" action="" method="post" enctype="multipart/form-data">
                            <div class="form-group col-xs-12 col-sm-12">
                                <label class="control-label" for="name">Category Name</label>
                                <div>
                                    <select id="category_edit" class="form-control category" name="name">

                                    </select>
                                </div>
                            </div>
                             <div class="form-group col-xs-12 col-sm-12">
                                <label for="Status">Status</label>

                                    <select class="form-control category category_update" name="status">

                                    </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>

                <button class="btn btn-sm btn-primary" id="bt-category-update">
                    <i class="ace-icon fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>