<div id="modal-product-edit" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">Edit Product Form</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <form id="product-form" action="" method="post" enctype="multipart/form-data">
                            <div class="form-group col-xs-12 col-sm-12">
                                <label class="control-label" for="name">Product Name</label>
                                <div>
                                    <input type="text" placeholder="Product Name" class="form-control name" id="product_name" name="name"/>
                                </div>
                            </div>
                             <div class="form-group col-xs-12 col-sm-12">
                                <label for="incoming_inventory">Serial number</label>

                                <div>
                                    <input class="form-control serial_number" type="text" id="serial_number" name="serial_number"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <label class="control-label" for="Brand">Brand</label>
                                <select  class="form-control brand_edit" name="brand">

                                </select>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <label class="control-label" for="unit_price">Unit Price</label>
                                <div>
                                    <div>
                                      <input type="text" placeholder="Product price" class="form-control unit_price" id="unit_price" name="unit_price"/>
                                    </div>
                                </div>
                            </div>
                              <div class="form-group col-xs-12 col-sm-12">
                                <label class="control-label" for="minimum_required">Minimum required</label>
                                <div>
                                    <div>
                                      <input type="text" placeholder="minimum required" class="form-control minimum_required" id="minimum_required" name="minimum_required"/>
                                    </div>
                                </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <label for="photo">Photo</label>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input type="file" id="picture"/>
                                        <input type="hidden" id="picture"/>
                                    </div>
                                </div>
                                </div>
                              </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>

                <button class="btn btn-sm btn-primary" id="bt-product-update">
                    <i class="ace-icon fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>