<div id="modal-brand-form" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">New Brand Form</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <form id="brand-form" action="" method="post" enctype="multipart/form-data">
                            <div class="form-group col-xs-12 col-sm-12">
                                <label class="control-label" for="name">Brand Name</label>
                                <div>
                                    <input type="text" placeholder="Brand Name" class="form-control" id="product_name" name="name"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <label for="Category">Category</label>
                                <div>
                                    <select class="form-control brand_category" name="category">

                                     </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <label class="control-label" for="Status">Status</label>
                                <select class="form-control brand_status" name="status">

                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>

                <button class="btn btn-sm btn-primary" id="bt-brand-save">
                    <i class="ace-icon fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>