<div id="modal-category-form" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">New Category Form</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <form id="category-form" action="" method="post" enctype="multipart/form-data">
                            <div class="form-group col-xs-12 col-sm-12">
                                <label class="control-label" for="name">Category Name</label>
                                <div>
                                        <input class="form-control status " type="text" id="category_name" name="name"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <label class="control-label" for="Status">Status</label>
                                    <select  class="form-control category_update" name="status">

                                    </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>

                <button class="btn btn-sm btn-primary" id="bt-category-save">
                    <i class="ace-icon fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>