{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">Home</a>
    </li>
    <li class="active">Products</li>
{% endblock %}
{% block page-header %}
    Products
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        List
    </small>
    <div class="pull-right">
        <div class="hidden-sm hidden-xs btn-group">
            <button class="btn btn-md btn-default" id="btn-view-employee bootbox-regular" href="#modal-product-form" data-toggle="modal">
                <i class="ace-icon fa fa-plus bigger-120"></i>
                New Product
            </button>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <table id="simple-table" class="table  table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace"/>
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th class="hidden">ID</th>
                    <th>Name</th>
                    <th>Serial Number</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Unit Price</th>
                    <th>Incoming</th>
                    <th>Outgoing</th>
                    <th>Minimum Required</th>
                    <th>Date Created</th>
                </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    {% include 'products/new_product_form.html' %}
    {% include 'products/product_view.html' %}
    {% include 'products/edit_product_form.html' %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/bootbox.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#profile_photo').on('change', function () {
                var preview = document.querySelector('img');
                var file = document.querySelector('input[type=file]').files[0];
                var reader = new FileReader();

                reader.onloadend = function () {
                    preview.src = reader.result;
                };

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "";
                }
            });

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                        }
                    }
                }
                return cookieValue;
            }

            $.getJSON("api/v1/product/list/", function (data) {
                data = data.results;
                console.log(data);
                $.each(data, function (key, product) {
                    $("tbody").append('' +
                        ' <tr>\n' +
                        '                        <td class="center">\n' +
                        '                            <label class="pos-rel">\n' +
                        '                                <input type="checkbox" class="ace" />\n' +
                        '                                <span class="lbl"></span>\n' +
                        '                            </label>\n' +
                        '                        </td>\n' +
                        '                        <td class="hidden">' + product.id + '</td>\n' +
                        '                        <td>' + product.name + '</td>\n' +
                        '                        <td>' + product.serial_number + '</td>\n' +
                        '                        <td>' + product.brand.name + '</td>\n' +
                        '                        <td>' + product.brand.category + '</td>\n' +
                        '                        <td>' + product.unit_price + '</td>\n' +
                        '                        <td>' + product.incoming_inventory + '</td>\n' +
                        '                        <td>' + product.outgoing_inventory  + '</td>\n' +
                        '                        <td>' + product.minimum_required + '</td>\n' +
                        '                        <td>' + product.date_created.split('T')[0] + '</td>\n' +
                        '                        <td>\n' +
                        '                            <div class="btn-group">\n' +
                        '                                <button class="btn btn-xs btn-success btn-view" id="bootbox-regular" href="#modal-product-view" data-toggle="modal">\n' +
                        '                                    <i class="ace-icon fa fa-eye bigger-120"></i>\n' +
                        '                                </button>\n' +
                        '                                <button class="btn btn-xs btn-info btn-edit" id="bootbox-regular" href="#modal-product-edit" data-toggle="modal">\n' +
                        '                                    <i class="ace-icon fa fa-pencil bigger-120"></i>\n' +
                        '                                </button>\n' +
                        '                            </div>\n' +
                        '                        </td>\n' +
                        '                    </tr>'
                    );
                });
            });

            $("#simple-table").on('click', '.btn-view', function () {
               var d = $(this).closest("tr").find("td:eq(1)").text();
                $.getJSON("api/v1/product/retrieve/" + d, function (data) {
                    $("#product_name").text(data.name);
                    $("#modal-heading").text(data.name);
                    $(".profile-photo").attr("src", data.picture);
                    $(".name").text(data.name);
                    $(".serial_number").text(data.serial_number);
                    $(".brand").text(data.brand);
                    $(".unit_price").text(data.unit_price);
                    $(".incoming").text(data.incoming_inventory);
                    $(".outgoing").text(data.outgoing_inventory);
                    $(".minimum_required").text(data.minimum_required);
                    $(".date_created").text(data.date_created.split('T')[0]);
                    $(".status").html(data.status);
                });
            });

            $.getJSON("api/v1/brand/list/", function (data) {
                data = data.results;
                $.each(data, function (key, brand_edit) {
                    $(".brand_edit").append('<option value='+ brand_edit.id +'>'+ brand_edit.name +'</option>')
                });
            });

            $("#simple-table").on('click', '.btn-edit', function () {
               var d = $(this).closest("tr").find("td:eq(1)").text();
                $.getJSON("api/v1/product/retrieve/" + d, function (data) {
                    $(".profile-photo").attr("src", data.picture);
                    $(".name").val(data.name);
                    $(".serial_number").val(data.serial_number);
                    $(".brand").val(data.brand);
                    $(".unit_price").val(data.unit_price);
                    $(".incoming").val(data.incoming_inventory);
                    $(".outgoing").val(data.outgoing_inventory);
                    $(".minimum_required").val(data.minimum_required);
                    $(".date_created").val(data.date_created);
                    $(".status").html(data.status);
                });
            });

            $.getJSON("api/v1/brand/list/", function (data) {
                data = data.results;
                $.each(data, function (key, brand) {
                    $("#brand").append('<option value='+ brand.id +'>'+ brand.name +'</option>')
                });
            });


            $("#bt-product-save").on('click', function (e) {
                e.preventDefault();
                var d = $("#photo2").attr("src");
                $("form #hidden_photo").val(d);
                var form_data = $("#product-form").serializeJSON();
                $.ajax({
                    url: 'api/v1/product/create/', //EndPoint Yako /URL yako ya POST,
                    type: 'POST', // Request Method yako GET au POST,
                    data: form_data,//Your data here,
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    },
                    success: function (response) {
                        alert('Product save successfully');
                    },
                    error: function (xhr, errorThrown, result) {

                    }
                });
            });
        })
    </script>
{% endblock %}