{% load static %}
<div id="modal-product-view" class="modal" tabindex="-1">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger" id="modal-heading"></h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="table-detail">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="text-center">
                                        <img height="295" width="246" id="profile-photo" class="thumbnail inline no-margin-bottom profile-photo"
                                             alt="Profile Photo" src=""/>

                                        <div class="width-100 label label-info label-xlg arrowed-in arrowed-in-right">
                                            <div class="inline position-relative">
                                                <a class="user-title-label" href="#">
                                                    <span class="white" id="product_name"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-8">
                                    <div class="space visible-xs"></div>
                                    <div class="profile-user-info profile-user-info-striped">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Name</div>
                                            <div class="profile-info-value name"> </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Serial number</div>
                                            <div class="profile-info-value serial_number"> </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Brand</div>
                                            <div class="profile-info-value brand"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Unit price</div>
                                            <div class="profile-info-value unit_price"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Minimum required</div>
                                            <div class="profile-info-value minimum_required"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Date Created</div>
                                            <div class="profile-info-value date_created"></div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name"> Status</div>
                                            <div class="profile-info-value status"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>